<table>
  <thead>
    <tr>
      <th>
        Account
      </th>
      {{#each months as |month|}}
      <th>
        {{month.name}}
      </th>
      {{/each}}
      <th>
        Sum
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each accounts as |account|}}
    <tr>
      <th>
        {{account.number}}
      </th>
      {{#each months as |month|}}
      <td>
        <input oninput={{action "oninput" account month}}>
      </td>
      {{/each}}
      <td>
        {{account-sum matrix=matrix account=account}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
